@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #ede8e5;
    /* --secondary-color: #302a27; */
    --secondary-color: #191819;
    --primary-accent-color: #b9886e;
    --secondary-accent-color: #66412f;
    --ff: "Noto Serif";
    /* --h1: 900 54px/64px var(--ff); */
    --h1: 900 max(54px, 4vw) / max(64px, 5vw) var(--ff);
    /* --h2: 800 36px/36px var(--ff); */
    --h2: 800 max(36px, 3vw) / max(36px, 4vw) var(--ff);
    /* --h3: 700 24px/30px var(--ff); */
    --h3: 700 max(24px, 2vw) / max(30px, 3vw) var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --subtext: 12px/20px var(--ff);
    --transition: 300ms ease-in-out;
    --shadow: #rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
    --shadow-dark: rgba(0, 0, 0, 0.3) 0px 5px 10px 5px;
}

/* SELECTION */
/* Firefox */
::-moz-selection {
    color: var(--primary-color);
    background: var(--secondary-accent-color);
}

::selection {
    color: var(--primary-color);
    background: var(--secondary-accent-color);
}

/* //////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff);
    background: radial-gradient(var(--primary-accent-color), var(--secondary-accent-color));
    color: var(--primary-color);
    transition: var(--transition);
    text-align: center;
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
    font: var(--h3);
}

p {
    font: var(--p);
}

a {
    font: var(--links);
    text-decoration: none;
    color: var(--primary-accent-color);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.prevent-select {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

.videoContainer {
    position: fixed;
    top: 0;
    width: 100%;
    /*search bar bug*/
    /* height: 110dvh; */
    height: 100lvh;
    pointer-events: none;
    overflow: hidden;


    .video {
        width: 100%;
        height: 100%;

        video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}