.customButton,
.customButtonStatic {
    text-decoration: none;
    background: transparent;
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.customButton .buttonContent {
    transition: var(--transition);
}

.customButton .buttonContent:hover {
    scale: 1.1;
}